https://www.hackerrank.com/contests/o2024w1/challenges/r-io-basics-read-2-nos-strings-and-a-line/problem

In [ ]:
a,b=map(int,input().split())
str1=input()
str2=input()
print(a,b, sep=' ')
print(str1)
print(str2)

1 2
two
one plus two is three
1 2
two
one plus two is three

https://www.hackerrank.com/contests/o2024w1/challenges/r-swap-2-num-using-temp-var

In [ ]:
a,b=map(int, input().split())
temp=a
a=b
b=temp
print(a,b)

1 2
2 1

https://www.hackerrank.com/contests/o2024w1/challenges/r-table-of-number

In [ ]:
a,b=map(int, input().split())
for i in range(1, b+1):
    print(a,'*',i,'=',a*i)

2 2
2 * 1 = 2
2 * 2 = 4

https://www.hackerrank.com/contests/o2024w1/challenges/r-sum-digits-of-number

In [ ]:
n= int(input())
s=0
while n>0:
    a=n%10
    s=s+a
    n=n//10
print(s)

390
12

https://www.hackerrank.com/contests/o2024w1/challenges/atm-14-1/problem

In [ ]:
a,b=input().split()
a=int(a)
b=float(b)
if a%5==0 and a<=b:
    number= b-a-0.50
    print('%.2f' % number)
else:
    print(b)

30 120.00
89.50